<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <appender name="defaultAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <!--   <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" /> -->
      <!--   <param name="ConversionPattern" value="%c: %d %-5p [%-4t] %m (%F:%L)%n"/> -->
      <param name="ConversionPattern" value="%d %-5p [%-4t] %m (%F:%L)%n"/>
      <!--  <param name="ConversionPattern" value="%d %-5p [%-4t] %m %n"/>   -->
    </layout>
  </appender>

  <logger name="org.lkpnotice.infra.headlessbrowser">
    <level value="info"/>
  </logger>


<!--  <root>
    <level value="info" />
    <appender-ref ref="defaultAppender" />
  </root>-->
  
</log4j:configuration>